{% extends 'base.html' %}
{% block content %}
<head>
  <style media="screen">
    img {
      padding-left: 100px;
    }
  </style>
</head>

<li>Maybe you want biscuits and gravy but don't want to look up every restaurant to see who sells</li>
 <li>Maybe you're settling a dispute over onion rings and need the perfect referee</li>
 <li>Don't you wish there was a ranking of grilled cheese by restaurant?</li>
 <br></br>

 <h2>find rankings, commentaries, and inventory of your favorite menuItems!</h2>
 <form action="{% url 'search' %}" method="get">
 <input name="q" type="text" placeholder="Search...">
 <button  type="submit">Submit</button>
 </form>
 <h4>join the forum that reviews dishes instead of restaurants</h4>
 <p> </p>

 <div class="content-section">
   <h2>Recent Reviews</h2>

   {% for post in reviewList %}
   <div class="content-section">
  <a href="/dish/{{ post.dish.id }}"> {{post.dish}} </a>
   <p1>Rating: {{post.rating}} stars</p1>
   <div class="content-section">
     <p>{{post.review_text}}</p>
     </div>
     <p1>Author: {{post.author}} </p1>
     <p>{{post.date_posted}} </p>
     </div>
       {% endfor %}
 </div>
{% endblock %}
