<head>
  <style media="screen">
    table {
      background-color: #FFC300;
      border-collapse: separate;
      border-spacing: 0 15px;
    }
    th a{
      background-color: #EF8C17;
      color: white;
      width: 100px;
      text-align: center;
      border: 1px solid black;
      padding: 7px;
      margin: 10px;
    }
  </style>
</head>
<nav>
  <table>
      <tr>

    <th><a href="{% url 'home' %}">Home</a></th>
    <th><a href="{% url 'search' %}">Search</a></th>

        <div>
          {% if user.is_authenticated %}
          <th><a href="{% url 'profile' %}">Profile</a></th>
          <th><a href="{% url 'logout' %}">Logout</a></th>
          {% else %}
          <th><a href="{% url 'login' %}">Login</a></th>
          <th><a href="{% url 'signup' %}">Signup</a></th>
          {% endif %}
        </div>




    </tr>
    </table>
    <p></p><p></p>

</nav>
