{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
          <form action="{% url 'search' %}" method="get">
          <input name="q" type="text" placeholder="Search...">
          </form>
      <div class="content-section">
        <h2>resulting items</h2>
        {% for post in object_list %}
        <div class="content-section">
        <p1> {{post.title}} </p1>
        <p1>Restaurant:         {{post.resID.name}} </p1>
        <div class="content-section">
          <p>{{post.description}}</p>
          </div>
          <p1>${{post.price}} </p1>
          </div>
            {% endfor %}
      </div>
  </div>
{% endblock content %}
